.menu-item {
  padding: 0.75rem 1rem; /* px-4 py-3 */
  font-weight: bold; /* font-bold */
  transition: background-color 0.3s, color 0.3s; /* transition */

  /* Hover styles */
  cursor: pointer;
}

.menu-item:hover {
  background-color: #1e293b; /* Similar a bg-slate-800 */
  color: #a21caf; /* Similar a text-fuchsia-700 */
}
